@charset "UTF-8";

/* 사이드바 */
.menu {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(35, 28, 53);
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: relative;
    left: 12px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu li:nth-child(1) a::before{ content: '\e871'; }
.menu li:nth-child(2) a::before{ content: '\e7fd'; }
.menu li:nth-child(3) a::before{ content: '\f1c6'; }
.menu li:nth-child(4) a::before{ content: '\e410'; }
.menu li:nth-child(5) a::before{ content: '\e26b'; }
.menu li:nth-child(6) a::before{ content: '\e88a'; }

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
}
@media screen and (max-width:560px) {
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}



/* 전체 레이아웃 잡기 */
body{
    background : rgb(238 238 238);
}
.totalWrap {
    width: 1800px;
    margin: 20px 0 auto;
    display: grid;
    grid-template-columns: 250px 1550px;
    gap: 10px;
}

.right {
    width: 1550px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 700px 800px;
    grid-template-rows: 450px 450px;
    gap:10px;
}

.right-left-top-section, .right-left-bottom-section{
    display: grid;
    grid-template-rows: 50px 380px;
}

.right-right-top-section, .right-right-bottom-section{
    display: grid;
    grid-template-rows: 50px 380px;
}

.section {
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #212121;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.title{
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    line-height: 29px;
    font-weight:700;
}

.contents{
    padding: 20px;
}



/* 오른쪽 위 */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

table {
    border-collapse: collapse;
}

.table {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
}

.custom-table thead tr, .custom-table thead th {
    border-top: none;
    border-bottom: none !important;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.custom-table tbody th, .custom-table tbody td {
    color: #777;
    font-weight: 300;
}

